name: CDGitops

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: brunomarch/gitopsfc:${{ github.sha }}, brunomarch/gitopsfc:latest
      
      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v1
        with:
          version: '4.5.4'

      - name: Update Kuubernetes resources
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        run: |
          kustomize edit set image goserver=brunomarch/gitopsfc:${{ github.sha }}

      - name: Commit
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git commit -am "Bump docker version"

      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          repository: brunomarchiori-git/gitops